<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login.css">
    <title> Register Page</title>
</head>

<body>
    <div class="card p-4 m-auto">
        <h1 class="mb-4"> Register as Parent</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
         <form action="{{ url_for('parent_register') }} " method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Create Password</label>
            <input type="password" class="form-control" id="txt2" name="password" required>
        </div>
        <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="togglePassword">
                <label class="form-check-label" for="togglePassword">Show password</label>
            </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <a href="{{ url_for('login') }}" class="btn btn-secondary">Back to Login</a>
    </form>
       
    </div>

    <script>
        const psw1 = document.getElementById("txt2");
        const toggleCheckbox = document.getElementById("togglePassword");

        toggleCheckbox.addEventListener("change", function () {
            psw1.type = this.checked ? "text" : "password";
        });
    </script>
</body>

</html>